
/* ................HEADER................... */
#Header{
    background-color: #e0e0e0;
}
.logo{
    width: 60px;
    margin-left: 70px;
}
.logo img{
    max-height: 50px;
    margin-left: 30px;
}
.navbar-toggler{
    color:black;
}
.main-nav{
    list-style:none;
    margin-left: 200px;
    margin-top: 20px;
}
.main-nav li a{
    text-decoration:none;
    color: #703112;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 70%;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:2px solid #cccccc;
    color: #333;
}
.main-nav li{
    display:inline-block;
    margin-right: 30px;
}
#mega ul.main-nav>li>div{
    position: absolute;
    display: none;
    padding-left: -20px;
    box-shadow: 2px 2px 4px #333;
    overflow: hidden;
    font-size: 16px;
    background-color: #fff;
    background-repeat: no-repeat;
}
#mega ul.main-nav>li:hover>div{
    display: block;
}

.main h4{
    font-size: 16px;
    margin: 0px;
    padding-bottom: 17px;
}

.showimg{
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

.showimg a{
    text-decoration: none;
    background-color: #703112;
    box-shadow: 2px 2px 5px #666; /* tao bong */
}


.title-img{
    padding: 8px 13px;
    color: white;
    letter-spacing: -.5px;
    text-align: center;
    font-size: 12.96px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.showimg ul{
    margin-bottom: 0px;
    padding-left: 17px;
}
.showimg ul li{
    display: flex;
    text-align: center;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 17px;
}
.showimg .row div{
    padding-left: 0px;
}
img{  /*để đảm bảo rằng tất cả các hình ảnh đều sử dụng tất cả không gian có sẵn,
         giữ nguyên tỷ lệ và không cắt giảm: */
     object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto; 
}
@media (max-width: 768px)
        {
            .showimg .row div{
                width: 50% !important;
            }   
        }