/* ................HEADER................... */
#Header{
    background-color: #e0e0e0;
}
.logo{
    width: 60px;
    margin-left: 70px;
}
.logo img{
    max-height: 50px;
    margin-left: 30px;
}
.navbar-toggler{
    color:black;
}
.main-nav{
    list-style:none;
    margin-left: 200px;
    margin-top: 20px;
}
.main-nav li a{
    text-decoration:none;
    color: #703112;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 70%;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:2px solid #cccccc;
    color: #333;
}
.main-nav li{
    display:inline-block;
    margin-right: 30px;
}
#mega ul.main-nav>li>div{
    position: absolute;
    display: none;
    padding-left: -20px;
    box-shadow: 2px 2px 4px #333;
    overflow: hidden;
    font-size: 16px;
    background-color: #fff;
    background-repeat: no-repeat;
}
#mega ul.main-nav>li:hover>div{
    display: block;
}
table,td{
    border: 0.5px solid rgb(206, 201, 201);
}
table{
    border-collapse: collapse;
    margin-bottom: 3px;
}
.img td{
    padding: 10px;
}

.showimg h3{
    text-align: center;
    color: #703112;
    font-weight: bold;
    font-size: 13px;
    margin-top: 13px;
    margin-bottom: 17px;
}
.showimg h3:last-of-type{
    font-size: 16px;
}
.img-second{
    margin-bottom: 30px;
}

.img-four{
    margin-top: 34px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.img-four ul{
    padding-left: 0px;
    margin: 0px;
}
.title-img{
    padding: 8px 13px;
    color: white;
    letter-spacing: -.5px;
    text-align: center;
    font-size: 12.96px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #703112;
}
.img-four ul li{
    /* display: flex;
    flex-direction: column; */
    list-style-type: none;
    margin-right: 56px;
    margin-bottom: 23px;
}
.img-four ul li:last-of-type{
    margin-right: 0px;
}

.img-four img{ 
border-radius: 9999px;
box-shadow: 2px 2px 5px #666; /* tao bong */
}
.img-four li div{
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    padding: 20px 0px;
    font-size: 12.314px;
    line-height: 18px;
}
.img-four h4{
    color: #703112;
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
}
.img-four p{
    padding: 0px 12px;
    margin-bottom: 20px;
    margin-top: 4px;
    color: gray;
}
.img-four a{
    margin: 5px;
    font-size: 12px;
    text-decoration: none;
    text-transform: none;
}

@media (max-width: 992px)
        {
            .img-four .row div:nth-child(n+3){
                display: none;
            }
            .img-four li{
                padding: 0 15%  !important;
            }
            .img-four li div p{
                display: none;
            }
            .img-four li div h4{
                margin-bottom: 10px;
            }
        }
