/*  */

/* @media screen and (max-width:1024px){
   .main-nav{
       width: 60%;
   }
}
 @media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .main-nav{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 65px;
        background-color: #703112;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in; 
    }    
    .main-nav li{
        opacity: 0;
    }
    .checkbtn{
        font-size: 20px;
        color:black;
        cursor: pointer;
        display: block;
    }
}
.nav-active{
    transform: translate(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 0;
        transform: translate(0px);
    }
} */ 
@media screen and (max-width: 768px) {
    .main-nav a:not(:first-child) {display: none;}
    .main-nav a.icon {
      float: right;
      display: block;
    }
}
@media screen and (max-width: 768px) {
    .main-nav.responsive {position: relative;}
    .main-nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .main-nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
@media screen and (max-width: 768px){
    #OverOuter{
        font-size: 10px;
    }
    .overouter-inside_right{
        margin-right: 560px;
    }
    .logo img{
        max-width: 40px;
    }
    .topnav{
        font-size: 10px;
    }
    #mega ul.main-nav>li>div{
        font-size: 10px;
    }
    .page-list-h2, .title-under_h2{
        width: 50%;
        font-size: 10px;
    }
    .BlockContent{
        width: 50%;
    }
    .rounded-circle{
        width: 65%;
    }
    .ProductList, #card-list{
        width: 50%;
    }
    .BlockNew{
        width: 50%;
    }
}