.clear {
    clear: both;
}
/*  */
#OverOuter{
    width: 100%;
    background: #703112;
    position: relative;
    z-index: 1;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
}
#OverOuter .overouter-inside{
    width: 1132px;
    margin: 0 auto;
    color: #e2e2e2;
}
#OverOuter .overouter-inside_left{
    float: left;
}
#OverOuter .overouter-inside_right{
    float: right;
}
/* ................HEADER................... */
#Header{
    background-color: #e0e0e0;
}
.logo{
    width: 60px;
    margin-left: 90px;
}
.logo img{
    max-height: 50px;
}
.navbar-toggler{
    color:black;
}
/* #navbar {
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  z-index: 99;
} */
.main-nav{
    list-style:none;
    margin-left: 200px;
    margin-top: 20px;
}
.main-nav li a{
    text-decoration:none;
    color: #703112;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 70%;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:2px solid #cccccc;
    color: #333;
}
.main-nav li{
    display:inline-block;
    margin-right: 30px;
}
#mega ul.main-nav>li>div{
    position: absolute;
    display: none;
    padding-left: -20px;
    box-shadow: 2px 2px 4px #333;
    overflow: hidden;
    font-size: 16px;
    background-color: #fff;
    background-repeat: no-repeat;
}
#mega ul.main-nav>li:hover>div{
    display: block;
}
.nonSub{
    width: 300px;
}
.main-nav .icon{
    display: none;
}
/* ...............Outer..................*/
.Outer{
    width: 100%;
    margin-top: 5px;
    position: absolute;
    z-index: -1;
    left: 7%;
}
.show-slide{
    clear: both;
    width: 1132px;
    margin: 0 auto;
}
/* ................home-pagelist............... */
.home-pagelist{
    clear: both;
    width: 1132px;
    margin: 0 auto;
}
.page-list-h2{
    color: #703112;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 20px 0;
    font-family: Verdana, Geneva, sans-serif;
}
.title-under_h2{
    margin-bottom: 30px;
}
.title-img{
    background: url("../images/pagelist.png") no-repeat center;
    width: 100%;
    height: 34px;
}
.title-text{
    text-align: center;
    padding: 20px 0;
}
.rounded-circle{
    margin: 0 20px; 
    box-shadow: 0px 0px 6px #444;
    transition: all .5s;
}
.blockcontent-text{
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: 14px;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 18px;
    text-align: center;
}
.blockcontent-text-h4{
    color: #703112;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.05em;
    letter-spacing: -.1px;
}
#page-list-inside a{
    text-decoration:none;
}
.view-more{
    padding: 4px 10px 6px;
    color: #fff;
    font-weight: normal;
    background: #703112;
    border-radius: 2px;
    border-bottom: 2px solid #333;
    border-right: 1px solid #333;
}
.a:hover:hover .rounded-circle,
.a:active:active .rounded-circle{
    filter: blur(2px);
    filter: brightness(50%);
    transition: all .3s;
}
.blockcontent-text:hover .view-more,
.blockcontent-text:active .view-more{
    color: #fff;
    filter: opacity(80%);
    transition: all .3s;
}
/* ..............Products............. */
.BlockProducts{
    clear: both;
    width: 1132px;
    margin: 0 auto;
}
.title-text a{
    color: #703112;
    font-weight: bold;
    text-decoration: underline;
}
#card-list{
    height: 230px;
    width: 369px;
    display: table-cell;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
}
.card-body{
    min-height: 19px;
    max-width: 369px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.card-text{
    color: #703112;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    border-bottom: 1px dashed #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -18px;
}
.a:hover:hover .card-img-top,
.a:active:active .card-img-top{
    filter: blur(2px);
    filter: brightness(50%);
    transition: all .3s;
}
.card-body:hover:hover .card-text,
.card-body:active:active .card-text{
    color: #703112;
    text-decoration:none;
}
/*.............BlockNew...............  */
.BlockNew h2{
    background: #703112;
    padding: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0;
    text-transform: uppercase;
}
#news-list{
    list-style: none;
    float: left;
    width: 50%;
    margin-bottom: 10px;
    margin-left: -15px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px; 
}
#news-img{
    float: left;
}
#news-img img{
    width: 100%;
} 
#news-content{
    float: right;
    width: 100%;
}
#news-content h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    color: #555;
    font-size: 14px;
}
#news-content h3 a{
    font-weight: bold;
    text-decoration: none;
    color: #555;
}
#news-content p{
    font-size: 14px;
}
.view-more_right {
    text-align: right;
}
.view-more_right .view-a{
    font-size: 14px;
    background: #333;
    color: #fff;
    padding: 3px 10px;
    text-transform: uppercase;
    text-decoration: none;
}
.view-more_right:hover .view-a,
.view-more_right:active .view-a{
    color: #fff;
    filter: opacity(80%);
    transition: all .3s;
    text-decoration:none;
}
/* ....................footer................ */
.footer{
    font-size: 14px;
    padding: 0;
    margin: 0;
    background: #703112;
}
.footer-logo img{
    max-width: 30%;
    background: #fff;
    margin-left: 100px;
}
.footer-contact{
    color: #e2e2e2;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 10px;
    font-size: 16px;
}
.footer-contact ul{
    list-style: none;
}
.footer-contact ul li{
    padding-bottom: 3px;
    list-style: none;
}
/* ...............sticky............. */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}