/* ................HEADER................... */
#Header{
    background-color: #e0e0e0;
}
.logo{
    width: 60px;
    margin-left: 70px;
}
.logo img{
    max-height: 50px;
    margin-left: 30px;
}
.navbar-toggler{
    color:black;
}
.main-nav{
    list-style:none;
    margin-left: 200px;
    margin-top: 20px;
}
.main-nav li a{
    text-decoration:none;
    color: #703112;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 70%;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:2px solid #cccccc;
    color: #333;
}
.main-nav li{
    display:inline-block;
    margin-right: 30px;
}
#mega ul.main-nav>li>div{
    position: absolute;
    display: none;
    padding-left: -20px;
    box-shadow: 2px 2px 4px #333;
    overflow: hidden;
    font-size: 16px;
    background-color: #fff;
    background-repeat: no-repeat;
}
#mega ul.main-nav>li:hover>div{
    display: block;
}

.main a{
    font-size: 10px;
}
.main a:hover{
    color: black;
}


table,td{
    border: 0.5px solid rgb(206, 201, 201);
}
table{
    border-collapse: collapse;
    margin-bottom: 3px;
}
.img td{
    padding: 10px;
}
.img img{
    object-fit: contain;
    max-height: 100%;
    height: auto;
    width: 540px;
}
.showimg h3{
    text-align: center;
    color: #703112;
    font-weight: bold;
    font-size: 13px;
    margin-top: 13px;
    margin-bottom: 17px;
}

/*.............Link...............  */
.link{
    font-size: 13px;
    margin-right: 150px;
    line-height: normal;
}
.link strong{
    color: #703112;
    font-weight: bold;
    margin-left: 10px;
}
.link td{
    padding: 10px;
}
.link ul{
    padding-left: 30px;
    margin-bottom: 0px;
}
.link li{
    margin-bottom: 10px;
}

.link img{
    width: 250px;
    margin-top: 10px;
}
.showimg{
    margin-bottom: 40px;
    
}
.search{
    border-top: 1px dashed #ccc;
    padding-top: 20px;
    margin-bottom: 40px;
}