.wrapper {
    position: relative;
    top: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

.content-wrapper {
    position: relative;
}

.content-wrapper > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} 

.sidebar {
    position: fixed;
    width: 16em;
    height: 100%;
    background: #56A4FE;
    border-radius: 1px;
    float: left;
    transition: width 0.5s;
    white-space: nowrap;
}

.sidebar-mini {
    transition: width 0.5s;
    width: 5em!important;
}

.logo {
    border-bottom: 1px solid #eee;
    padding: 0.8em 0;
    margin: 0;
    position: relative;
    z-index: 4;
    display: block;
}

.img-logo {
    width: 2.5em;
    height: auto;
    margin-right: 1em;
    margin-left: 1em;

}

a.link-hc {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    transition: width 0.5s;
}

.main-content .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav {
    display: block;
    width: 100%;
}

.sidebar .nav .nav-item .nav-link {
    margin: 0.8em 0.8em 0;
    color: #fff;
    position: relative;
}

.sidebar .nav .nav-item .nav-link:hover {
    background: rgba(255, 255, 255, 0.13);
}

.sidebar .nav .nav-item .nav-link i {
    font-size: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

#user-nav {
    display: none;
}

.sidebar .nav .nav-item .nav-link span:last-child i {
    font-size: 1em;
    position: absolute;
    right: -2em;
    top: 50%;
    transform: translateY(-50%);
}

.fz-1em {
    font-size: 1em!important;
}

.sidebar .nav .nav-item .nav-link span {
    font-size: 1em;
    font-weight: 400;
    vertical-align: middle;
    position: relative;
} 

.nav-child {
    padding: 0 0.6em;
    font-size: 0.9em;
    text-overflow: ellipsis;
}

.nav-link span {
    text-overflow: ellipsis;
}

.link-name-mini {
    padding-right: 1em;
}

.main-content {
    min-height: 100vh;
    position: relative;
    float: right;
    width: calc(100% - 16em);
    transition: width 0.5s;

}

.mc-sb-mini {
    width: calc(100% - 5em)!important;
    transition: width 0.5s;

}

.nav-search {
    position: absolute;
    display: inline-block;
    left: 40%;
    top: 50%;
    transform: translate(-40%, -50%);
}

.nav-search input {
    display: inline-block;
    border-radius: 5px;
    font-size: 0.9em;
    border: 1px solid #c4c2c2;
}

.nav-search i {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.w25vw {
    width: 25vw!important;
}

:focus {
    outline: none;
    box-shadow: none!important;
}

.navbar {
    height: 3.75em;
    max-height: 3.75em;
    border-bottom: 2px solid #eee;
    z-index: 999;
}

.navbar-wrapper {
    display: inline-block;
    width: 100%;
    position: relative;
}

.sidebar-toggle {
    float: left;
    vertical-align: middle;
}

.sidebar-toggle-btn, .sb-toggle-btn-mini {
    background: #56A4FE;
    border-radius: 50%;
    border: 1px solid #eee;
    width: 2.5em;
    height: 2.5em;
    position: relative;
}

.sb-toggle-btn-mini {
    background: #fff;
    display: none;
}

.sb-toggle-btn-mini i {
    color: #5e5c5c;
    font-size: 1.2em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sidebar-toggle-btn:focus, .sb-toggle-btn-mini:focus {
    outline: none;
    box-shadow: none;
}

.sidebar-toggle-btn i {
    color: #fff;
    font-size: 0.9em;
}

.users-wrapper {
    float: right;
    margin-right: 0;
    width: 100%;
}

.users-info {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.users-info h5 {
    font-size: 0.9em;
    white-space: nowrap;
    font-weight: 600;
    margin-bottom: 0;
}

.users-info span {
    font-size: 0.8em;
}

.users-dropdown {
    background: #fff;
    position: absolute;
    right: 0;
    max-width: 13em;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity ease-in-out 1s;
    -webkit-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.23);
    box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.23);
}

.users-dropdown::before {
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 12px;
    top: -8px;
}

.users-info:hover ~ .users-dropdown {
    visibility: visible;
    opacity: 1;
    transition: opacity ease-in-out 1s;
}

.users-dropdown:hover {
    visibility: visible;
    opacity: 1;
}

.users-dropdown .nav-item .nav-link {
    color: #111;
    font-size: 0.9em;
    margin: 0.5 1em;
}

.users-dropdown .nav-item .nav-link:hover {
    background: #56A4FE;
}

.users-dropdown .nav-item .nav-link i {
    vertical-align: middle;
    margin-right: 1em;
}

.users-dropdown .nav-item .nav-link span {
    vertical-align: middle;
}

.sidebar-mobile {
    width: 0!important;
    overflow: hidden;
}

.navbar-mobile {
    width: 100%!important;
}

.form-checkbox {
    display: flex;
    flex-direction: row;
}

.status-bar form {
    outline: 0;
    margin-left: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  
.status-bar form > .textbox {
    outline: 0;
    height: 42px;
    width: 244px;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
  
.status-bar form > .textbox:focus {
    outline: 0;
    background-color: #FFF;
}
  
.status-bar > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s easse;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.cursor-pointer {
    cursor: pointer;
}
  
.status-bar > .button:hover {
    background-color: rgba(0, 150, 136, 0.8);
}

tbody tr *, .fz-09em {
    font-size: 0.9em;
}

table td {
    vertical-align: middle!important;
}

textarea {
    resize: none;
    overflow: scroll;
}

.user-fields {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    resize: none;
    overflow: scroll;
    font-size: 0.9em;
}

textarea.user-fields {
    height: 5em!important;
    border: 1px solid #c4c2c2;
}

input.user-fields {
    border: 1px solid #c4c2c2;
}

:focus {
    outline: none;
}

.edit-user label, .add-user label {
    display: inline-block;
}

@media only screen and (max-width: 866px) {
    .sidebar {
        /* width: 0!important; */
        z-index: 99;
    }

    #user-nav {
        display: block;
    }

    .users-wrapper {
        display: none;
    }

    #btn {
        display: none;
    }

    #btn-mini {
        display: block;
    }

    .nav-search {
        width: 50%!important;
    }

}

@media only screen and (max-width: 475px) {
    .nav-search {
        display: none;
    }
}

@media only screen and (max-width: 424px) {
    .container-fluid {
        padding: 0;
    }
}